
<header class="header">
    <div id="headerimage">

    </div>
    <div id="toolbar">

        <mat-toolbar color="black">
             <span class="titleLogo"></span>
            <span class="title">EkowTheGreat.co.uk</span>
            <span>
                 <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
            </span>
            
           
           

            
            <span class="toolbarLinks"></span>

            

        </mat-toolbar>
    </div>
    <div class="headerButtonLayout">
        <div class="headerButtonsBox">
            <button class="headerButtons">TWITCH</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">INSTAGRAM</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">YOUTUBE</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">??</button>
        </div>




    </div>
</header>



    <div class="body">

        
            
        <iframe class="iframe-container" width="560" height="315" src="https://www.youtube.com/embed/Ms90okhAbTw" frameborder="0" allow="accelerometer; autoplay;
         encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
        
        
       

        <div class="viewport">
        </div>
    </div>




<footer class="footer">

</footer>