<div class="bg"></div>
<div id="toolbar">
    <mat-toolbar class="toolbar" color="black">
        <span class="identity">
            <span class="titleLogo"></span>
        <span class="title">EkowTheGreat</span> 
        </span>
        
        <span class="example-spacer"></span>
        <span class="links">
        
        <mat-button-toggle-group class="buttonlink" name="legacy" aria-label="Font Style" value="basilisk">
            <mat-button-toggle value="twitch" onclick="location.href='https://www.ekowthegreat.co.uk/stream'"><i class="fab fa-twitch fa-3x"></i>
            </mat-button-toggle>
            <mat-button-toggle value="youtube" onclick="location.href='https://www.ekowthegreat.co.uk/youtube'">
                <i class="fab fa-youtube fa-3x"></i> </mat-button-toggle>
            <mat-button-toggle value="discord" onclick="location.href='https://www.ekowthegreat.co.uk/discord'">
                <i class="fab fa-discord fa-3x"></i></mat-button-toggle>
                <mat-button-toggle value="basilisk" onclick="location.href='https://www.ekowthegreat.co.uk/basilisk'">
                    <i class="basilisk-icon"></i></mat-button-toggle>
                
        </mat-button-toggle-group>
    </span>

    </mat-toolbar>
</div>

<div class="section">

   
  <div id="player"></div>

   
    

    


    <div class="viewport">
    </div>
</div>
