
<header class="header">
    <div id="headerimage">

    </div>
    <div id="toolbar">

        <mat-toolbar color="black">
             <span class="titleLogo"></span>
            <span class="title">EkowTheGreat.co.uk</span>
            <span>
                 <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
            </span>
            
           
           

            
            <span class="toolbarLinks"></span>

            

        </mat-toolbar>
    </div>
    <div class="headerButtonLayout">
        <div class="headerButtonsBox">
            <button class="headerButtons">TWITCH</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">INSTAGRAM</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">YOUTUBE</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">??</button>
        </div>




    </div>
</header>


    <div class="body">
        
        <div>
            
        </div>
        <mat-card class="info">
            
            

            <div class="video">
                <video width="720" height="440" autoplay>
                    <source src="assets/1403.mp4" type="video/mp4" />
                    Browser not supported
                </video>
            </div>
            
            
            

            
        </mat-card>
       

        <div class="viewport">
        </div>
    </div>




<footer class="footer">

</footer>