.buttonlink{
    height: -webkit-fill-available;
    place-items: center;
    background-color: white !important;
    
    
}
mat-button-toggle-group {
    box-shadow: none;
    background-color: white !important;
    color: blue($color: #000000);
  }
  
  .mat-button-toggle {
      border: 1px rgb(245, 245, 245) solid !important;
      margin-top: 5px !important;
      padding: 0 5px !important;
      z-index: 3 !important;
  }
  
  mat-button-toggle:hover {
      border: 1px #000 solid !important;
      background-color: rgb(245, 245, 245) !important;
      color: black;
      
      border-radius: 5px !important;
  }
  
  .mat-button-toggle-checked {
        box-shadow: 0 0 30px #000 !important;
      border: 1px #000 solid !important;
      border-radius: 5px !important;
      background-color: hsl(0, 0%, 0%) !important;
      color: white;
  }

  
  .mat-button-toggle-input {
      background-color: rgb(245, 245, 245) !important;
      padding-left: 32px !important;
  }
  .mat-button-toggle-label-content {
    line-height: 10opx !important; 
}
