
<header class="header">
    <div id="headerimage">

    </div>
    <div id="toolbar">

        <mat-toolbar color="accent">
             <span class="titleLogo"></span>
            <span class="title">EkowTheGreat.co.uk</span>
           

            <!-- This fills the remaining space of the current row -->
            <span class="toolbarLinks"></span>

            

        </mat-toolbar>
    </div>
    <div class="headerButtonLayout">
        <div class="headerButtonsBox">
            <button class="headerButtons">REGISTER</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">REGISTER</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">REGISTER</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">REGISTER</button>
        </div>




    </div>
</header>


    <div class="body">
        
        
        <mat-card class="info">
            <button mat-raised-button >Learn More</button>
        </mat-card>
       

        <div class="viewport">
        </div>
    </div>




<footer class="footer">

</footer>