
<header class="header">
    <div id="headerimage">

    </div>
    <div id="toolbar">

        
            <span class="title">EkowTheGreat</span>

            <!-- This fills the remaining space of the current row -->
            <span class="toolbarLinks"></span>

            <span>Username</span>
    </div>
    
    <div class="headerButtonLayout">
        <div class="headerButtonsBox">
            <button class="headerButtons">REGISTER</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">REGISTER</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">REGISTER</button>
        </div>
        <div class="headerButtonsBox">
            <button class="headerButtons">REGISTER</button>
        </div>




    </div>
</header>


    <div class="body">
        
        
            
       

        <div class="viewport">
        </div>
    </div>




<footer class="footer">

</footer>