/* You can add global styles to this file, and also import other style files */

    
    .mat-toolbar{
        background: white;
        padding: 0px;
        z-index: 2;
        
        width: 100%;
        min-width: 100%;
        min-height: 2%;
        justify-content: space-evenly;

        .title{
            left: 10vw;
            font-size: larger;
            font-family: fantasy;
        }
        .titleLogo{
            height: 6vh;
            width: 6vw;
            min-width: 5vw;
            min-height: 5vh;
            background-color: rgba(128, 128, 128, 0);
            background-image: url(assets/Coldilock.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
        }
        .example-icon {
           
            vertical-align: text-top;
    }
    
          .example-spacer {
            flex: 1 1 auto;
          }
        .toolbarLinks{
            flex: 1 1 auto;
            display: flex;
            
        }
        .headerButtonLayout{
            display: flex;
            background-color: black;
            flex: 1 1 auto;
        text-align-last: center;
        }
        .headerButtonsBox{
            width: -webkit-fill-available;
            
                .headerButtons{
            
                    width: -webkit-fill-available;
                    
            
            
                }
        }
        .buttonlink{
            height: 6vh;
            place-items: center;
            background-color: white !important;
            
            
        }
        mat-button-toggle-group {
            box-shadow: none;
            background-color: white !important;
            color: blue($color: #000000);
          }
          
          .mat-button-toggle {
              border: 1px rgb(245, 245, 245) solid !important;
              
              padding: 0 5px !important;
              z-index: 3 !important;
          }
          
          mat-button-toggle:hover {
              border: 1px #000 solid !important;
              background-color: rgb(245, 245, 245) !important;
              color: black;
              
              border-radius: 5px !important;
          }
          
          .mat-button-toggle-checked {
                box-shadow: 0 0 30px #000 !important;
              border: 1px #000 solid !important;
              border-radius: 5px !important;
              background-color: hsl(0, 0%, 0%) !important;
              color: white;
          }
        
          
          .mat-button-toggle-input {
              background-color: rgb(245, 245, 245) !important;
              padding-left: 32px !important;
          }
          .mat-button-toggle-label-content {
            line-height: 10opx !important; 
        }
        
        
    }
    
    
   
    
.body2{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    z-index: 2;
    
}  

.body{
    
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 100%;
    
    
    background-color: rgba(245, 245, 245, 0);
    background-image: url(assets/11.jpg);
    background-size: cover;
    -webkit-margin-collapse: discard;
    -webkit-box-align: baseline;
    margin: 0;
    
    
    .info{
        position: fixed;
        left: 2vw; 
        top: 15vh;
        height: 80vh;
        width: 96vw;
        text-align-last: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: larger;
        background-color: rgba(245, 245, 245, 0.611);
        
    }
  
    
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.streambody{
    
    
    position: fixed;
    height: 100vh;
    width: 100vw;
    
    
    background-color: rgba(245, 245, 245, 0);
    background-image: url(assets/11.jpg);
    background-size: cover;
    -webkit-margin-collapse: discard;
    -webkit-box-align: baseline;
    margin: 0;
}
.stream{
    text-align: -webkit-center;
    top: 10vh;

}
.spacer{
    height: 8vh;
}
.discordwidget{
    z-index: 2;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

}.colour-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100vh;
    opacity: 0.1;
    
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
