<body>
    
    <div class="streambody">
        <div class="spacer"></div>
        
        
        
        <div class="stream">
            <span>
                <iframe src="https://player.twitch.tv/?channel=ekowthegreat&parent=www.ekowthegreat.co.uk" frameborder="1" allowfullscreen="true" scrolling="no" height="630" width=70%></iframe>
    
            </span>
            <span>
                <iframe
                id="chat_embed"
                src="https://www.twitch.tv/embed/ekowthegreat/chat?parent=www.ekowthegreat.co.uk"
                height="630"
                width="20%">
              </iframe>
            </span>
        </div>
        
    </div>
</body>