<body>
    
    <div class="streambody">
        
        
        <div class="stream">
            <span>
                <iframe src="https://player.twitch.tv/?channel=ekowthegreat&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="480" width="854"></iframe>
    
            </span>
            <span>
                <iframe
                id="chat_embed"
                src="https://www.twitch.tv/embed/ekowthegreat/chat?parent=localhost"
                height="480"
                width="350">
              </iframe>
            </span>
        </div>
        
    </div>
</body>